body
{
    margin: 20px 80px 80px 80px ;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.772);
    
   
}

h1
{
    text-align: center;
    font-size: 90px;
    margin-bottom: 5px;
    margin-top: 2px;
    color: #040ca3;
}

h2
{
    text-align: center;
    font-size: 50px;
}

p
{
    text-align: justify;
   
}

.comespaço
{
    text-align: justify;
    
    font-size:25px;
}

.caixaprincipal
{
    background-color: #bcb3b3;
    padding: 20px 60px 20px;
    border-radius: 40px;
    color:#040ca3;

    display: flex;
    border-color: #040ca3;
    border-style: solid ;
    border-width: 3px;
}

.titulo
{
    margin: 10px;
    font-size:60px;
   
}

.textoserviços
{
margin: 0px;
font-size: 25px;
}

.primeiraimagem
{
    width: 700px;
    height: 600px;
    margin-top: 30px ;
    align-items: center;
    margin-left: 10px;
    border-radius: 40px;
    border-color:  #040ca3;
    border-style: solid;
    border-width: 3px;
}

.logodino
{
    width: 300px;
    height: 250px;
    margin-right: 30px;
}

.tituloinformatica
{
    display: flex;
    align-items: center;
}

.primeirorisco
{
    border: 2px solid #040ca3;
    margin-top:26px;
    margin-bottom:20px;
}

.blocodemenu
{
    text-align: left;
    font-variant: small-caps;
    
   
}
a{
    color:#ea0000;
    text-decoration: none;
}
.inicio{
    margin-right: 10px ;
    font-size: 30px;
    border: 2px solid #040ca3;
    padding : 2px 17px 8px;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.222);
    
}
a:visited{
    color: #ff0cd2;
}
a:hover{
    color:black;
}

.instagram{
    margin-left: 20px ;
    font-size: 30px;
    border: 2px solid #040ca3;
     padding : 2px 17px 8px;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.222);
}
.localização{
    margin-left: 10px ;
    font-size: 30px;
    border: 2px solid #040ca3;
     padding : 2px 17px 8px;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.222);
}
.contatos{
    display:flex;
    margin-left: 250px;
    font-size: 20px;

}
.contato{
margin-right: 100px;

}

.email{
    margin-left: 15px;
    

}   
.logocontato{
    width: 90px;
    height: 90px;
}
.cabeçalho{
    display: flex;
}

.nossafachada{
    margin-top: 10px;
    margin-bottom: 24px;
}

hr{
   
    border-color:#040ca3;
    border-style:solid ;
    border-width:1px ;
}
